@model List<UsersModel>;
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Control de usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" onclick="OpenUserModal(null)">Agregar nuevo usuario</button>
            </div>
        </div>
        <hr />
        <table class="display cell-border" id="table" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="NewUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* Form starts here *@
                
                     <input hidden id="UserId" value=0/>

                    <div class="row">
                    <div class="mb-3 col-sm-6">
                        <label for="NewUserName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="NewUserName">
                    </div>
                    <div class="mb-3 col-sm-6">
                        <label for="newUserLastname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="NewUserLastname">
                    </div>
                    <div class="mb-3 col-sm-6">
                        <label for="newUserEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="NewUserEmail">
                    </div> 

                    <div class="col-sm-6">
                    <label for="isActive" class="form-label">Activo</label>
                    <select id="isActive">

                        <option value=1>Sí</option>
                        <option value=0>No</option>
                    </select>
                    </div>
                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                </button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var tableData;

        tableData = $('#table').DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListUsers", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "name" },
                { "data": "lastName" },
                { "data": "email" },
                {
                    "data": "active", "render": (value) => {
                        if (value) {
                            return '<span class="badge bg-success">Sí</span>';
                        } else {
                            return '<span class="badge bg-danger">No</span>';
                        }
                    }
                }, {
                    "defaultContent": '<a class="btn btn-sm btn-warning btn-edit"><i class="fas fa-pen"></i></a>'+
                        '<a class="btn btn-sm btn-danger ms-2" asp-controller="" asp-action=""><i class="fas fa-trash"></i></a>',
                             "orderable": false,
                             "searchable":false,
                             "width":"90px"
                }
            ],
            "language": { 
                "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/es-MX.json" 
            }
                });

        function OpenUserModal(json){
                $('#NewUserName').val("");
                $('#NewUserLastname').val("");
                $('#NewUserEmail').val("");
                $('#isActive').val(0);

            if (json != null) {
                $('#NewUserName').val(json.name);
                $('#NewUserLastname').val(json.lastName);
                $('#NewUserEmail').val(json.email);
                    $('#isActive').val(json.active == true ? 1 : 0);
            }
                
                $('#NewUserModal').modal("show");           

        }

        $('#table tbody').on('click', '.btn-edit', function () {
            
            var selectedRow = $(this).closest('tr');

            var data = tableData.row(selectedRow).data();

            console.log(data);
            OpenUserModal(data);
        });

        function SaveUser() {
                var userData = {
                    active: $('#isActive').val() == 1 ? true : false,
                    email: $('#NewUserEmail').val(),
                    lastName: $('#NewUserLastname').val(),
                    name: $('#NewUserName').val(""),
                    usersId: $("#UserId").val()
                    }
        }
    </script>
}

