@model List<UsersModel>;
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Control de usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success">Agregar nuevo usuario</button>
            </div>
        </div>
        <hr />
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var i in Model)
                {
                    <tr>
                        <td>@i.UsersId</td>
                        <td>@i.Name</td>
                        <td>@i.LastName</td>
                        <td>@i.Email</td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <a class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

